@import './variables.css';

#root {
  margin: 0 auto;
}

img {
  width: 100%;
}

.nav-bar {
  background-color: var(--background-color);
  border-right: 1px solid var(--highlight);
  transition-duration: 1s;
  transform: translateX(-100%);
}

.open {
  transform: translateX(0);
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 20px;
}

.nav-icon {
  width: 25px;
  margin-right: 5px;
}

.active {
  background-color: var(--highlight);
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--highlight);
}

.header h1 {
  margin: 10px;
  font-size: 1.3em;
}

.main {
  padding: 0 10px;
}

.hamburger-icon {
  width: 35px;
  margin: 10px;
}

.logo {
  width: 45px;
  margin: 10px;
  margin-left: 20px;
  display: none;
}

.nav-hide {
  height: var(--header-height);
  background-color: var(--button-color);
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.nav-brand {
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 1.1rem;
  font-weight: bold;
}

.nav-logo {
  width: 30px;
  margin-right: 5px;
}

@media only screen and (min-width: 425px) {}

@media only screen and (min-width: 640px) {
  .header h1 {
    font-size: 2em;
  }

  .hamburger-icon,
  .nav-header {
    display: none;
  }

  .logo {
    display: initial;
  }

  .nav-bar {
    transform: translateX(0);
    padding-top: 30px;
  }
}

@media only screen and (min-width: 1024px) {}


@media only screen and (min-width: 1440px) {}