@import './variables.css';

.layout {
  display: grid;
  column-gap: 20px;
  grid-template-areas:
    "header header"
    "main main";
  grid-template-columns: 200px auto;
  grid-template-rows: var(--header-height) auto;
}

/* Small screen nav-bar hidden */
.nav-bar {
  position: fixed;
  width: 200px;
  height: 100%;
  /* photos-list comes on top of the nav but albums-list doesn't because of grid */
  z-index: 10;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  height: calc(97vh - var(--header-height));
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

@media only screen and (min-width: 640px) {
  .layout {
    grid-template-areas:
      "header header"
      "navigation main";
  }

  .nav-bar {
    grid-area: navigation;
    position: initial;
    width: auto;
    height: auto;
  }
}