:root {
  /* Size */
  --header-height: 70px;

  /* Color */
  --background-color: #f5f5f7;
  --button-color: #e7e7e7;
  --highlight: #dadce0;
}

.dark-theme {
  --background-color: #193549;
  --button-color: #1F4662;
  --highlight: #234E6D;
  --t: #122738;
}

/* 
Cobalt2 Theme Official - Visual Studio Marketplace
Blue: #193549 
Blue Highlight: #1F4662 
Blue Highlight2: #234E6D 
Blue Dark: #122738 
Yellow: #ffc600 
Hot Pink: #ff0088 
Blush Pink: #ff628c 
Orange: #ff9d00 
Green */