#root {
  max-width: 1280px;
  margin: 0 auto;
}

img {
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  background-color: #f5f5f7;
}

header h1 {
  margin: 10px;
}

.layout {
  display: grid;
  column-gap: 20px;
  grid-template-areas:
    "header header"
    "main main";
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 70px 1fr;
}

.nav-bar {
  grid-area: navigation;
  background-color: #f5f5f7;
  border-right: 1px solid rgb(218, 220, 224);
  min-width: 150px;
  /* positioning */
  /* TODO think of a better way or remove grid layout, fixed position disregards grid */
  position: fixed;
  height: 100%;
  z-index: 1;
  transition-duration: 1s;
  transform: translateX(-100%);
}

.open {
  transform: translateX(0);
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 20px;
}

.nav-icon {
  width: 25px;
  margin-right: 5px;
}

.active {
  background-color: wheat;
}

.header {
  grid-area: header;
  border-bottom: 1px solid rgb(218, 220, 224);
}

.main {
  grid-area: main;
  padding: 10px;
}

.hamburger-icon {
  width: 35px;
  margin: 10px;
}

.logo {
  width: 45px;
  margin: 10px;
  margin-left: 20px;
  display: none;
}

.menu-top {
  height: 70px;
  background-color: rgb(201, 201, 201);
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.menu-brand {
  display: flex;
  align-items: center;
  padding: 15px;
}

.menu-header {
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.menu-logo {
  width: 30px;
  margin-right: 5px;
}

/** Error page */
.error-page {
  padding: 10px;
  text-align: center;
}

/** Album Card Styles **/
.albums-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 10px;
}

.album-img {
  border-radius: 10px;
}

.album-detail {
  font-size: 0.7rem;
}

/** Album View Styles **/
.back-icon {
  width: 45px;
  border-radius: 50%;
}

.back-icon:hover {
  cursor: pointer;
  background-color: #ffc600;
}

.photos-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: dense;
  grid-gap: 0.2rem;
  justify-content: space-between;
  justify-items: center;
}

/** Photo Card Styles **/
.photo-card {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  font-size: 0.8rem;
  transition: ease-in-out 0.5s;
  overflow: hidden;
}

.photo-card:nth-child(11n) {
  grid-column: span 2;
  grid-row: span 1;
}

.photo-card:nth-child(3n) {
  grid-column: span 1;
  grid-row: span 2;
}

.photo-img {
  object-fit: cover;
  height: 100%;
}

.photo-title {
  width: 100%;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
}

.photo-card:hover .photo-title,
.photo-card:active .photo-title {
  visibility: initial;
  padding: 5px;
  background-color: #f5f5f7;
  transform: translateY(0);
  transition: ease-in-out 0.5s;
}

.fav-icon {
  position: fixed;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  transition-duration: 0.5s;
}

.fav-icon:hover {
  cursor: pointer;
  transform: rotate(0.2turn);
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.24));
}

@media(hover: hover) and (pointer: fine) {
  .fav-icon:hover {
    transform: rotate(0.2turn);
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.24));
  }
}

@media only screen and (min-width: 425px) {}

@media only screen and (min-width: 640px) {

  .hamburger-icon,
  .menu-header {
    display: none;
  }

  .logo {
    display: initial;
  }

  .nav-bar {
    transform: translateX(0);
    padding-top: 30px;
    margin-top: 70px;
  }

  .layout {
    min-height: 97vh;
    grid-template-areas:
      "header header"
      "navigation main";
  }

  .photo-card {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1024px) {}


@media only screen and (min-width: 1440px) {}