#root {
  max-width: 1280px;
  margin: 0 auto;
}

img {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
}

header h1 {
  margin: 10px;
}

.layout {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 2fr 8fr;
  grid-template-areas:
    "header header"
    "main main";
}

.nav-bar {
  grid-area: navigation;
  padding: 10px;
  background-color: #f5f5f7;
  border-right: 1px solid rgb(218, 220, 224);
  /* positioning */
  position: absolute;
  height: 100%;
  z-index: 1;
  transition-duration: 1s;
  transform: translateX(-100%);
}

.open {
  transform: translateX(0);
}

.nav-link {
  display: block;
  padding: 10px 10px 10px 20px;
}

.active {
  background-color: wheat;
}

.header {
  grid-area: header;
  border-bottom: 1px solid rgb(218, 220, 224);
}

.main {
  grid-area: main;
  padding: 10px;
}

.hamburger-icon {
  width: 35px;
  margin: 10px;
}

.logo {
  width: 45px;
  margin: 10px;
  display: none;
}

.menu-top {
  flex: 0 0 100%;
  height: 50px;
  background-color: rgb(201, 201, 201);
}

.menu-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.menu-logo {
  width: 25px;
  margin: 10px;
}

/** Error page */
.error-page {
  padding: 10px;
  text-align: center;
}

/** Album Card Styles **/
.albums-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.album-img {
  border-radius: 10px;
}

.album-detail {
  font-size: 0.7rem;
}

/** Album View Styles **/
.photos-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.2rem;
  justify-content: space-between;
  justify-items: center;
}

/** Photo Card Styles **/
.photo-card {
  width: 100%;
  max-width: 250px;
  position: relative;
  box-sizing: border-box;
  font-size: 0.8rem;
}

.photo-img {
  object-fit: cover;
}

.fav-icon {
  position: fixed;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  transition-duration: 0.5s;
}

.fav-icon:hover {
  cursor: pointer;
  transform: rotate(0.2turn);
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.24));
}

@media only screen and (min-width: 425px) {}

@media only screen and (min-width: 640px) {

  .hamburger-icon,
  .menu-header {
    display: none;
  }

  .logo {
    display: initial;
  }

  .nav-bar {
    position: initial;
    transform: translateX(0);
  }

  .layout {
    grid-template-areas:
      "header header"
      "navigation main";
  }

  .albums-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .photos-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .photo-card {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .photos-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .albums-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


@media only screen and (min-width: 1440px) {
  .photos-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .albums-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}