#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

img {
  width: 100%;
}

h1 {
  font-size: 2.5rem;
}

.layout {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 2fr 8fr;
  grid-template-areas:
    "header header"
    "navigation main";
}

.nav-bar {
  grid-area: navigation;
  padding-block-start: 10px;
  border-right: 1px solid rgb(218, 220, 224);
}

.nav-link {
  display: block;
  padding: 10px 10px 10px 20px;
  text-align: left;
}

.header {
  grid-area: header;
  border-bottom: 1px solid rgb(218, 220, 224);
}

.main {
  grid-area: main;
}

/** Album Card Styles **/
.albums-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.album-card {
  text-align: left;
}

.album-img {
  border-radius: 10px;
}

.album-detail {
  font-size: 0.7rem;
}

/** Album View Styles **/
.photos-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.2rem;
  justify-content: space-between;
  justify-items: center;
}

/** Photo Card Styles **/
.photo-card {
  max-width: 250px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  font-size: 0.8rem;
  text-align: left;
}

.photo-img {
  width: 100%;
  object-fit: cover;
}

.fav-icon {
  position: fixed;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
}

.fav-icon img:hover {
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.24));
}

@media only screen and (min-width: 425px) {}

@media only screen and (min-width: 640px) {
  .photos-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .photo-card {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .photos-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


@media only screen and (min-width: 1440px) {
  .photos-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}