.layout {
  display: grid;
  column-gap: 20px;
  grid-template-areas:
    "header header"
    "main main";
  grid-template-columns: 200px auto;
  grid-template-rows: 70px auto;
}

/* Small screen nav-bar hidden */
.nav-bar {
  position: fixed;
  height: 100%;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  height: calc(97vh - 70px);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

@media only screen and (min-width: 640px) {
  .layout {
    grid-template-areas:
      "header header"
      "navigation main";
  }

  .nav-bar {
    grid-area: navigation;
    position: initial;
    height: auto;
  }
}