* {
  outline: 1px solid red;
}
/* styling for the whole product list container, including the filters on the side */
.layout {
  display: grid;
  grid-template-areas:
  'header header'
  'nav main';
  grid-template-columns: 220px auto;
  grid-template-rows: 100px calc(95vh - 100px);
}


.nav-wrapper {
  grid-area: nav;
  height: calc(95vh - 100px);
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  overflow: auto;
}

/* Not relevant to layout */
.product-list-product-wrapper {
  margin: 30px;
}

.product-list-product-wrapper div {
  padding: 20px;
}

